/* .cstform{
    display: flex;
   flex-direction: column;
} */


/* .cstinpt{
    margin-left: 40px;

}
.surname{
    margin-left: 21px;
}
.Pasword{
    margin-left: 24px;
}
.rep{
    margin-left: ;
} */